:root {
  body.dark_theme {
    --bg-primary: teal;
    --bg-secondary: #014D4E;
    --color-primary: white;
    --color-secondary: hsl(0, 0%, 62%);
  }

  body.light_theme {
    --bg-primary: #ffffff;
    --bg-secondary: hsla(0, 0%, 100%, 0.336);
    --color-primary: hsl(0, 0%, 12%);
    --color-secondary: hsl(0, 0%, 37%);
  }
}