<section class="description" id="about">
  <div class="container">
    <div class="description__box">
      <h2 class="description__title">About Me</h2>
      <div class="about-linePreloader"></div>
    </div>
    <div class="description__wrapper">
      <div>
        <div class="description__text">
          <p>"My name is Oleg. I am a full stack developer. <span class="description__hobby">This is my hobby.</span>
          </p>
          <p> As for my skills, I know CSS, HTML, JS. I have also mastered React and Node.js. I have been coding for 1
            year and during this time I have made several successful team projects and 3 individual projects.</p>
          <p>As a result, I am well versed in basic technical skills, organizational ethics and discipline. My goal is
            to get a job in such a reputable company where I can use my skills and knowledge to achieve good results in
            the long term.</p>
          <p>I aim to achieve a good position in the company to increase the production and growth rate of the
            organization as well as for my personal career growth.</p>
        </div>
      </div>
      <div class="description__image">
        <img src="./images/foto.webp" alt="me" />
      </div>
    </div>
  </div>
</section>