<!-- 
        - #ABOUT
      -->

<section class="description">
  <h2 class="numbered-heading">
    <span class="numbered-heading--accent">01.</span>About Me
  </h2>
  <div class="inner">
    <div>
      <p class="description-text">
        Hello! My name is Hennadii and I enjoy creating things that live on the
        internet. My interest in web development started in September this year
        when I decided to try GoIT courses — turns out web development is pretty
        fun and now I include fun in everything I code.
      </p>
      <p>Fast-forward to today, and I’ve learnt HTML & CSS.</p>
    </div>

    <img
      src="./images/me.webp"
      alt="me"
      height="auto"
      width="100%"
      style="border-radius: 50%"
    />
  </div>
</section>
