<!-- 
        #CONTACT
      -->

<section class="contact" id="portfolio">
  <div class="contact-content section-content">
    <p class="section-subtitle">What’s Next?</p>

    <h2 class="h3 section-title">Get In Touch.</h2>

    <p class="section-text">
      Although I’m not currently looking for any new opportunities, my inbox is
      always open. Whether you have a question or just want to say hi, I’ll try
      my best to get back to you!
    </p>

    <ul class="contact-list">
      <li class="contact-list-item">
        <div class="contact-item-icon">
          <ion-icon name="location-outline"></ion-icon>
        </div>
        <div class="wrapper">
          <h3 class="h4 contact-item-title">Address:</h3>

          <address class="contact-info">
            Mykolaja Reya 40a, 59-220, Wroclaw, Poland.
          </address>
        </div>
      </li>

      <li class="contact-list-item">
        <div class="contact-item-icon">
          <ion-icon name="call-outline"></ion-icon>
        </div>

        <div class="wrapper">
          <h3 class="h4 contact-item-title">Phone:</h3>

          <a href="tel:0990908598" class="contact-info">+380 990 908 598</a>

          <a href="tel:48511631846" class="contact-info">+48 511 631 846</a>
        </div>
      </li>

      <li class="contact-list-item">
        <div class="contact-item-icon">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="wrapper">
          <h3 class="h4 contact-item-title">Email:</h3>

          <a href="mailto:genuch3@gmail.com" class="contact-info"
            >genuch3@gmail.com</a
          >
        </div>
      </li>
    </ul>
  </div>

  <form action="" class="contact-form">
    <div class="form-wrapper">
      <label for="name" class="form-label">Name</label>

      <div class="input-wrapper">
        <input
          type="text"
          name="name"
          id="name"
          required
          placeholder="e.g John Doe"
          class="input-field"
        />

        <ion-icon name="person-circle"></ion-icon>
      </div>
    </div>

    <div class="form-wrapper">
      <label for="email" class="form-label">Email</label>

      <div class="input-wrapper">
        <input
          type="email"
          name="email"
          id="email"
          required
          placeholder="e.g johndoe@mail.com"
          class="input-field"
        />

        <ion-icon name="mail"></ion-icon>
      </div>
    </div>

    <div class="form-wrapper">
      <label for="phone" class="form-label">Phone</label>

      <div class="input-wrapper">
        <input
          type="tel"
          name="phone"
          id="phone"
          required
          placeholder="Phone Number"
          class="input-field"
        />

        <ion-icon name="call"></ion-icon>
      </div>
    </div>

    <div class="form-wrapper">
      <label for="message" class="form-label">Message</label>

      <div class="input-wrapper">
        <textarea
          name="message"
          id="message"
          required
          placeholder="Write message..."
          class="input-field"
        ></textarea>

        <ion-icon name="chatbubbles"></ion-icon>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</section>
