<!-- EXPIRIENCE -->
<section id="expirience" class="expirience">
  <h2 class="numbered-heading">
    <span class="numbered-heading--accent">02.</span>Where I’ve Worked
  </h2>
  <div class="inner">
    <div aria-label="Job" class="expirience-wrapper">
      <button class="expirience-btn">Carnival Cruises</button>
      <button class="expirience-btn">Princess Cruises</button>
      <button class="expirience-btn">Hello!Coffee</button>
      <div></div>
    </div>
    <ul class="job-decsruption">
      <li data-job="Carnival Cruises" class="job-decsruption-wrapper is-hidden">
        <h3>
          <span>Casino Dealer</span
          ><span class="company"
            >&nbsp;@&nbsp;<a
              href="https://www.carnival.com/"
              class="inline-link"
              rel="noopener noreferrer"
              target="_blank"
              >Carnival Cruises</a
            ></span
          >
        </h3>
        <p class="range">November 2018 - July 2022</p>
        <div>
          <ul>
            <li>Compute the odds on winning wagers;</li>
            <li>Provide excellent customer service;</li>
            <li>Ensure all wagers are placed before the cards are dealt;</li>
            <li>Explain the rules to new players;</li>
            <li>Handle large amounts of money (in cash or chips);</li>
            <li>Observe and enforce all rules during play.</li>
          </ul>
        </div>
      </li>
      <li data-job="Princess Cruises" class="job-decsruption-wrapper is-hidden">
        <h3>
          <span>Galley Steward</span
          ><span class="company"
            >&nbsp;@&nbsp;<a
              href="https://princesscruises.com/"
              class="inline-link"
              rel="noopener noreferrer"
              target="_blank"
              >Princess Cruises</a
            ></span
          >
        </h3>
        <p class="range">November 2017 - May 2018</p>
        <div>
          <ul>
            <li>Dish washing;</li>
            <li>Ware-washing;</li>
            <li>Assist Chef as needed;</li>
            <li>Galley Cleanliness and Sanitation;</li>
            <li>Cleaning and Organizing;</li>
            <li>Other duties as directed by Chef or Hotel General Manager;</li>
            <li>Other duties as directed by Chef or Hotel General Manager;</li>
            <li>Receiving stores.</li>
          </ul>
        </div>
      </li>
      <li data-job="Hello!Coffee" class="job-decsruption-wrapper">
        <h3>
          <span>Barista</span
          ><span class="company"
            >&nbsp;@&nbsp;<a
              href="#"
              class="inline-link"
              rel="noopener noreferrer"
              target="_blank"
              >Hello!Coffee</a
            ></span
          >
        </h3>
        <p class="range">January 2016 - November 2017</p>
        <div>
          <ul>
            <li>Greet customers as they enter;</li>
            <li>
              Give customers drink menus and answer their questions regarding
              ingredients;
            </li>
            <li>
              Take orders while paying attention to details (e.g. preferences of
              coffee blend, dairy and sugar ratios);
            </li>
            <li>Prepare beverages following recipes;</li>
            <li>Receive and process payments (cash and credit cards) ;</li>
            <li>Keep the bar area clean;</li>
            <li>
              Check if brewing equipment operates properly and report any
              maintenance needs;
            </li>
            <li>
              Communicate customer feedback to managers and recommend new menu
              items.
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
