<header class="header" data-header>
  <div class="container">
    <div class="header__box">
      <div class="header__logo">
        <a href="#"><img src="/src/images/pics/ok.png" width="80px"></a>
      </div>
      <div class="header__navigation">
        <nav class="navigation" data-navbar>
          <ul class="navigation__list">
            <li>
              <button class="navigation__button">
                <a href="#about" class="navigation__link">About</a>
              </button>
            </li>
            <li>
              <button class="navigation__button">
                <a href="#expirience" class="navigation__link">Experience</a>
              </button>
            </li>
            <li>
              <button class="navigation__button">
                <a href="#skills" class="navigation__link">Work</a>
              </button>
            </li>
            <li>
              <button class="navigation__button">
                <a href="#portfolio" class="navigation__link">Contact</a>
              </button>
            </li>
        </nav>
      </div>
      <div class="header__theme">
        <div class="navbar-actions">
          <button class="theme-btn" aria-label="Change Theme" title="Change Theme" data-theme-btn>
            <span class="icon"></span>
          </button>
        </div>
        <button class="nav-toggle-btn" aria-label="Toggle Menu" title="Toggle Menu" data-nav-toggle-btn>
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </button>
      </div>
    </div>
  </div>
</header>