<header class="header" data-header>
  <div class="container">
    <div class="header-box">
      <a href="#"><img src="/src/images/pics/ok.png" width="80px"></a>

      <!-- <div class="header__navigation"> -->
      <nav class="header__nav" data-navbar>
        <ul class="header__list">
          <li>
            <button class="header__button">
              <a href="#about" class="navbar-link">About</a>
            </button>
          </li>
          <li>
            <button class="header__button">
              <a href="#expirience" class="navbar-link">Experience</a>
            </button>
          </li>
          <li>
            <button class="header__button">
              <a href="#skills" class="navbar-link">Work</a>
            </button>
          </li>
          <li>
            <button class="header__button">
              <a href="#portfolio" class="navbar-link">Contact</a>
            </button>
          </li>
          <li>
      </nav>
      <!-- </div> -->

      <div class="navbar-actions">
        <button class="theme-btn" aria-label="Change Theme" title="Change Theme" data-theme-btn>
          <span class="icon"></span>
        </button>
      </div>
      <!-- <button class="nav-toggle-btn" aria-label="Toggle Menu" title="Toggle Menu" data-nav-toggle-btn></button> -->
    </div>


  </div>
</header>