<section class="hero">
  <div class="container">
    <div class="hero__wrapper">
      <div>
        <h1 class="hero__hi">Hi, my name is</h1>
      </div>
      <div>
        <h2 class="hero__name">Oleh Kyrpa.</h2>
      </div>
      <div>
        <h3 class="hero__profession">I am Full Stack Developer</h3>
      </div>
      <div>
        <p class="hero__text">
          I am a focusing on HTML5, CSS3, JS, Node.js, React.
          My goals are both personal and professional growth in this direction.
          I am constantly working on improving my skills and looking for a company where I can be a useful and reliable
          employee.
        </p>
      </div>
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="hero__link">
        <a href="./OlehKyrpa_Full-Stack-Dev.pdf" class="hero__cv target=" _blank">My CV</a>
      </div>
    </div>
  </div>
</section>