<section class="hero">
  <!-- 
        - #HERO
      -->
  <div class="hero-wrapper">
    <div>
      <h1>Hi, my name is</h1>
    </div>
    <div>
      <h2 class="big-heading">Hennadii Borysevych.</h2>
    </div>
    <div>
      <h3 class="big-heading">I am Software Engineer</h3>
    </div>
    <div>
      <p>
        I am computer programmer who is proficient in both front and back end
        coding. My primary responsibility include designing user interactions on
        websites, developing servers, and databases for website functionality,
        and coding for mobile platforms.
      </p>
      <a href="./fullstack.pdf.pdf" class="btn cv" target="_blank">CV</a>
    </div>
  </div>
</section>
