<!-- 
        - #PROJECTS
      -->

<section class="project" id="skills">
  <ul class="project-list">
    <li>
      <div class="project-content section-content">
        <p class="section-subtitle">My Works</p>

        <h2 class="numbered-heading" data-sr-id="3">
          <span class="numbered-heading--accent">03.</span>
          Some Things I’ve Built
        </h2>

        <p class="section-text">
          We develop the best quality website that serves for the long-term.
          Well-documented, clean, easy and elegant interface helps any
          non-technical clients.
        </p>
      </div>
    </li>

    <li>
      <a
        href="https://hennadiiborysevych.github.io/Coffee-shop-1/"
        class="project-card"
      >
        <figure class="card-banner">
          <img
            src="./images/projects-pics/CoffeeShop.webp"
            class="w-100"
            alt="Cup of coffee"
          />
        </figure>

        <div class="card-content">
          <h3 class="h4 card-title">CoffeeShop</h3>

          <time class="publish-date" datetime="2022-11">November 2022</time>
        </div>
      </a>
    </li>

    <li>
      <a
        href="https://hennadiiborysevych.github.io/blended_lesson_1/"
        class="project-card"
      >
        <figure class="card-banner">
          <img
            src="./images/projects-pics/Finance-Leadger.webp"
            class="w-100"
            alt="People are smiling"
          />
        </figure>

        <div class="card-content">
          <h3 class="h4 card-title">Finance Leadger</h3>

          <time class="publish-date" datetime="2022-10">October 2022</time>
        </div>
      </a>
    </li>

    <li>
      <a
        href="https://hennadiiborysevych.github.io/goit-markup-hw-08/"
        class="project-card"
      >
        <figure class="card-banner">
          <img
            src="./images/projects-pics/web-studio.webp"
            class="w-100"
            alt="peple at the table"
          />
        </figure>

        <div class="card-content">
          <h3 class="h4 card-title">WebStudio</h3>

          <time class="publish-date" datetime="2022-11">November 2022</time>
        </div>
      </a>
    </li>

    <li>
      <a
        href="https://hennadiiborysevych.github.io/Awesome-UI-3/"
        class="project-card"
      >
        <figure class="card-banner">
          <img
            src="./images/projects-pics/Finance.webp"
            class="w-100"
            alt="Blue digital watch on a dark liver background."
          />
        </figure>

        <div class="card-content">
          <h3 class="h4 card-title">Finance</h3>

          <time class="publish-date" datetime="2022-09">September 2022</time>
        </div>
      </a>
    </li>

    <li>
      <a
        href="https://hennadiiborysevych.github.io/HausStore/"
        class="project-card"
      >
        <figure class="card-banner">
          <img
            src="./images/projects-pics/easytodrink.webp"
            class="w-100"
            alt="On a dark liver background, Airport luggage car carrying a luggage."
          />
        </figure>

        <div class="card-content">
          <h3 class="h4 card-title">HausStore</h3>

          <time class="publish-date" datetime="2022-11">November 2022</time>
        </div>
      </a>
    </li>

    <li>
      <a
        href="https://hennadiiborysevych.github.io/OrganickStore/"
        class="project-card"
      >
        <figure class="card-banner">
          <img
            src="./images/projects-pics/banan.webp"
            class="w-100"
            alt="Organic store"
          />
        </figure>

        <div class="card-content">
          <h3 class="h4 card-title">Organic Store</h3>

          <time class="publish-date" datetime="2023-02">January 2023</time>
        </div>
      </a>
    </li>
  </ul>
</section>
