/* EXPIRIENCE */
.expirience {
  max-width: 700px;
}

.expirience .inner {
  min-height: 340px;
}

.expirience .inner {
  display: flex;
}

@media screen and (max-width: 1080px) {
  .expirience .inner {
    display: block;
  }
}
@media screen and (max-width: 1080px) {
  .expirience-wrapper {
    display: flex;
    gap: 5px;
    margin: 0 auto;
  }
}
@media screen and (min-width: $desktop) {
  .expirience-wrapper {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
  }
}

.expirience-btn-accent {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}

.expirience-btn {
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  height: var(--tab-height);
  padding: 0px 20px 2px;
  border-left: 2px solid var(--lightest-navy);
  background-color: transparent;
  color: var(--green);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
  text-align: left;
  white-space: nowrap;
}

.expirience-btn:hover,
.expirience-btn:focus {
  background-color: var(--light-navy);
}

.expirience-btn:hover,
.expirience-btn:active,
.expirience-btn:focus {
  color: var(--green);
  outline: 0px;
}

.job-decsruption {
  position: relative;
  width: 100%;
  margin-left: 20px;
}

@media screen and (max-width: 1080px) {
  .job-decsruption {
    margin-left: 0;
  }
}

.job-decsruption-wrapper {
  width: 100%;
  height: auto;
  padding: 10px 5px;
}

.job-decsruption-wrapper h3 {
  margin-bottom: 2px;
  font-size: var(--fz-xxl);
  font-weight: 500;
  line-height: 1.3;
  display: flex;
  margin-bottom: 15px;
}

@media screen and (max-width: 1080px) {
  .job-decsruption-wrapper h3 {
    display: block;
  }
}

.job-decsruption-wrapper h3 .company {
  color: var(--green);
}

a.inline-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  transition: var(--transition);
  color: var(--green);
}

.job-decsruption-wrapper .range {
  margin-bottom: 25px;
  color: var(--light-slate);
  font-family: var(--font-mono);
  font-size: var(--fz-xs);
}

.job-decsruption-wrapper ul {
  padding: 0px;
  margin: 0px;
  font-size: var(--fz-lg);
}

.job-decsruption-wrapper ul li {
  position: relative;
  color: var(--slate);
  margin-bottom: 10px;
  list-style: circle;
}
.is-hidden {
  display: none;
}
